*{
  padding: 0;
  margin: 0;
}
:root{
  --tomato : hsl(4, 100%, 67%);
  --dark-slate-gray : hsl(234, 29%, 20%);
  --charcoal-grey : hsl(235, 18%, 26%);
  --grey : hsl(231, 7%, 60%);
  --white : hsl(0, 0%, 100%);
  --new-tomato:hsl(4, 92%, 61%);
}
.fail {
  visibility: hidden;
}
p{
  color: var(--charcoal-grey);
}
.failed {
  border: 1px solid var(--tomato);
  font-size: 16px;
  color: var(--tomato);
}
.sec button{
  background-color:var(--dark-slate-gray);
  text-wrap: nowrap;
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 17px;
  width: 100%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.sec button:hover{
  background-image: linear-gradient(to right, var(--tomato), var(--new-tomato));

}
input{
  border: 1px solid var(--charcoal-grey);
  font-size: 16px;
  color: var(--tomato);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 0px;
  font-size: 18px;
}
.fal {
  visibility: visible;
  color:  var(--tomato);
  font-weight: normal;
}
.desktop{
  visibility: hidden;
}
.desk{
  display: none;
}
main{
  display: flex;
  flex-direction: column-reverse;
}
body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.mobi{
  visibility: visible;
  width: 100%;
}
.left-section{
  padding: 1.25rem 1.25rem;
}
.left-section h1{
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.left-section .p{
  margin-bottom: 20px;
  text-wrap: stable;
  line-height: 1.35rem;
  color: var(--charcoal-grey);
}
.flex{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.flex p{
  margin-left: 20px;
}
.secondHeader{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.subtitle{
  font-weight: bold;
}
.success-card button{
  position: absolute;
  bottom: 10px;
  text-align: center;
  background-color:var(--dark-slate-gray);
  text-wrap: nowrap;
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 17px;
  width: 90%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.success-card button:hover{
  background-image: linear-gradient(to right, var(--tomato), var(--new-tomato));

}
.out{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.success-card{
  margin-top: 35%;
}
.success-card h1{
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: var(--charcoal-grey);
}
.success-card p{
  margin-bottom: 20px;
  color: var(--charcoal-grey);
  line-height: 24px;
}
.success-card p  span{
  font-weight: bold;
}
.success-card img{
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-bottom: 20px;
}
@media(min-width:747px){
  body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--charcoal-grey);
  }
  main{
    flex-direction: row;
    background-color: white;
    max-width: 930px;
    border-radius: 1.25rem;
    padding: 1.25rem;
  }
  .mobi{
    display: none;
    visibility: hidden;
  }
  .desktop{
    visibility: visible;
  }
  .desk{
    display: block;
  }
  .left-section{
    align-self: center;
    margin-right: 25px;
  }
  .left-section h1{
    font-size: 3.15rem;
  }
  .outer{
    margin: 2.29em;
    padding-top: 2%;
    padding-bottom: 0.5%;
  }
  .success-card button{
    position: static;
    text-align: center;
    background-color:var(--dark-slate-gray);
    text-wrap: nowrap;
    color: var(--white);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 17px;
    width: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }
  .success-card button:hover{
    background-image: linear-gradient(to right, var(--tomato), var(--new-tomato));
  
  }
  .success-card{
    margin-top: 0;

  }
  .out{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: var(--white);
    max-width: 360px;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  }
  .success-card h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .success-card p{
    margin-bottom: 20px;
    line-height: 24px;
  }
  .success-card p  span{
    font-weight: bold;
  }
  .success-card img{
    height: auto;
    display: flex;
    align-self: flex-start;
    margin-bottom: 20px;
  }
}